# NCHU 4105056004 資工二 許哲維

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#用於正常顯示中文
plt.rcParams['font.family'] = 'SimHei'

#用來省略後面的plt.show()  是一個ipynb的魔法函数（Magic Functions）
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

# 輸入與檢索

In [3]:
# 輸入位於./data
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
submission = pd.read_csv('data/sample_submission.csv')

In [4]:
train.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
test.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [6]:
submission.head(5)

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

### 缺值處理

In [7]:
miss_sum = train.isnull().sum().sort_values(ascending = False)
miss_sum

PoolQC           1453
MiscFeature      1406
Alley            1369
Fence            1179
FireplaceQu       690
LotFrontage       259
GarageCond         81
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageQual         81
BsmtExposure       38
BsmtFinType2       38
BsmtFinType1       37
BsmtCond           37
BsmtQual           37
MasVnrArea          8
MasVnrType          8
Electrical          1
Utilities           0
YearRemodAdd        0
MSSubClass          0
Foundation          0
ExterCond           0
ExterQual           0
Exterior2nd         0
Exterior1st         0
RoofMatl            0
RoofStyle           0
YearBuilt           0
                 ...
GarageArea          0
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
3SsnPorch           0
BsmtUnfSF           0
ScreenPorch         0
PoolArea            0
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
Functional          0
TotRmsAbvGrd        0
KitchenQual         0
KitchenAbvGr        0
BedroomAbvGr        0
HalfBath            0
FullBath            0
BsmtHalfBath        0
BsmtFullBath        0
GrLivArea           0
LowQualFinSF        0
2ndFlrSF            0
1stFlrSF            0
CentralAir          0
SaleCondition       0
Heating             0
TotalBsmtSF         0
Id                  0
Length: 81, dtype: int64

PoolQC

In [8]:
lost_column = 'PoolQC'

In [9]:
train_temp = train.copy()
train_temp[lost_column] = train_temp[lost_column].fillna(value = 0)
train_temp[lost_column] = train_temp[lost_column].replace({'Fa' : 1, 'TA' : 2, 'Gd' : 4, 'Ex' : 5})

In [10]:
train_temp[lost_column][190:200]

190    0
191    0
192    0
193    0
194    0
195    0
196    0
197    5
198    0
199    0
Name: PoolQC, dtype: int64

In [11]:
train = train_temp.copy()

In [12]:
miss_sum_temp = train_temp[lost_column].isnull().sum()
miss_sum_temp

0

LotFrontage

In [13]:
lost_column = 'LotFrontage'

In [14]:
train_temp = train.copy()
train_temp[lost_column] = train_temp[lost_column].fillna(value = 0)

In [15]:
train_temp[lost_column][3:10]

3    60.0
4    84.0
5    85.0
6    75.0
7     0.0
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [16]:
train = train_temp.copy()
miss_sum_temp = train_temp[lost_column].isnull().sum()
miss_sum_temp

0

In [17]:
miss_sum = train.isnull().sum()
miss_sum

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage         0
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC              0
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 81, dtype: int64

Alley

In [18]:
lost_column = 'Alley'

In [19]:
train_temp = train.copy()
train_temp[lost_column] = train_temp[lost_column].fillna(value = 0)
train_temp[lost_column] = train_temp[lost_column].replace({'Grvl' : 1, 'Pave' : 2})

In [20]:
train_temp['Alley'][20:25]

20    0
21    1
22    0
23    0
24    0
Name: Alley, dtype: int64

In [21]:
train = train_temp.copy()
miss_sum_temp = train_temp[lost_column].isnull().sum()
miss_sum_temp

0

MiscFeature

In [43]:
train_temp = train.copy()
temp= pd.get_dummies(train['MiscFeature'])
temp[15:20]

    Gar2  Othr  Shed  TenC
15     0     0     0     0
16     0     0     1     0
17     0     0     1     0
18     0     0     0     0
19     0     0     0     0

In [45]:
train_temp = train_temp.append(temp)
#測試資料並沒有elevator
train_temp['Elev'] = 0